<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @trip, class: "trip_form_class" do |f| %>

  <%= f.label :date %>
  <%= f.text_field :date %>
  <% if @driver %>
  <%= f.select :driver_id, [[@driver.name, @driver.id]] %>
  <% end %>
  <%= f.label :passenger_id %>
  <% if @passenger %>
  <%= f.select :passenger_id, [[@passenger.name, @passenger.id]] %>
  <% else %>
  <%= f.select :passenger_id, Passenger.all.map{ |auth| [auth.name, auth.id] } %>
  <% end %>
  <% if new_trip == false %>
  <%= f.label :rating %>
  <%= f.select :rating, [1, 2, 3, 4, 5] %>
  <%= f.label :cost %>
  <%= f.text_field :cost %>
  <% end %>

  <%= f.submit "Submit" %>

<% end %>  
