<section class="trips_grid">
  <section class="header_row"><%= "TRIP ID" %></section>
  <section class="header_row"><%= "DATE" %></section>
  <section class="header_row"><%= "DRIVER ID" %></section>
  <section class="header_row"><%= "DRIVER NAME" %></section>
  <section class="header_row"><%= "PASSENGER ID" %></section>
  <section class="header_row"><%= "PASSENGER NAME" %></section>
  <section class="header_row"><%= "COST" %></section>
  <section class="header_row"><%= "RATING" %></section>
  
  <% @trips.each do |trip|%>
    <section><%= link_to trip.id, trip_path(id: trip.id) %></section>
    <section><%= display_date(trip.date.getlocal)%></section>
    <section><%= trip.driver_id%></section>
    <section><%= get_driver_name_from_id(trip.driver_id)%></section>
    <section><%= trip.passenger_id%></section>
    <section><%= get_passenger_name_from_id(trip.passenger_id)%></section>
    <section><%= usd(trip.cost)%></section>
    <section>
      <% if trip.rating %>
        <%= trip.rating%>
      <% else %>
        <%= link_to "RATE!", edit_trip_path(id: trip.id) %>
      <% end %>
    </section>
  <% end %>
</section>