<h1>Edit Trip</h1>

<%= form_with model: @trip, class: "trip-form" do |f| %>
  <p>Please complete the fields below to edit trip. </p>

  <%= f.label :date %>
  <%= f.text_field :date%>
  <br>
  <%= f.label :rating %>
  <%= f.select :rating, [5, 4, 3, 2, 1]%>
  <br>
  <%= f.label :cost %>
  <%= f.text_field :cost %>
  <br>
  <%= f.label :passenger_id %>
  <%= f.select :passenger_id, Passenger.all.order(:name).map{ |passenger| [passenger.name, passenger.id] } %>
  <br>
  <%= f.label :driver %>
  <%= f.select :driver_id, Driver.all.order(:name).map{ |driver| [driver.name, driver.id] } %>
  <br>
  <%= f.submit "Update Trip", class: "trip-button" %>
<% end %>
