<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Edit Trip</title>
  </head>

  <body>
  <body>
    <header>
      <h1>Welcome to Rideshare</h1>
      <nav>
        <ul>
          <%= link_to "Rideshare Rails", root_path %>
          <%= link_to "Passengers", passengers_path %>
          <%= link_to "Drivers", drivers_path %>
          <%= link_to "Add Driver", new_driver_path %>
          <%= link_to "Add Passenger", new_passenger_path %>
        </ul>
      </nav>
    </header>

    <% if @trip.errors.any? %>
      <% @trip.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
    <% end %>

    <%= form_with model: @trip do |f| %>
      <p>Please provide the following information to update the trip to our database:</p>

      <%= f.label :driver_id, "Driver Id: " %>
      <%= @trip.driver_id %>

      <%= f.label :passenger_id, "Passenger Id: " %>
       <%= @trip.passenger_id %>
      
      <%= f.label :rating %>
      <%= f.select :rating, (1..5) %>

      <%= f.label :cost %>
      <%= f.text_field :cost %>

      <%= f.label :date, "Date: " %>
      <%= @trip.date %>
    
      <%= f.submit "Update Trip" %>
    <% end %>
  </body>
</html>