<h2>Edit Trip #<%= @trip.id %></h2>

<%= form_with model: @trip, class: "edit_trip_form" do |f| %>

  <%= f.label :date %>
  <%= f.text_field :date %>
  <%= f.label :driver %>
  <%= f.select :driver_id, @drivers.map{ |driver| [driver.name, driver.id] } %>
  <%= f.label :passenger %>
  <%= f.select :passenger_id, @passengers.map{ |passenger| [passenger.name, passenger.id] } %>
  <%= f.label :cost %>
  <%= f.text_field :cost %>
  <%= f.label :rating %>
    <% if @trip.rating.nil? %>
      <%= f.select :rating, ['1', '2', '3', '4', '5']%>
    <% else %>
      <%= @trip.rating %>
    <% end %>
  
  <%= f.submit "Submit", class: "trip-form-button" %>
<% end %>

