<h1>RATING TRIP</h1>
<%= render partial: "trips_table" %>

after rating, remember to flip driver.active back to false!!!<br>

<%= form_with url: trip_path(id: @trip.id), method: :patch do |f| %>
  <%= radio_button_tag(:rating, 1) %>
  <%= label_tag(:rating, "1 star") %>

  <%= radio_button_tag(:rating, 2) %>
  <%= label_tag(:rating, "2 stars") %>

  <%= radio_button_tag(:rating, 3) %>
  <%= label_tag(:rating, "3 stars") %>

  <%= radio_button_tag(:rating, 4) %>
  <%= label_tag(:rating, "4 stars") %>

  <%= radio_button_tag(:rating, 5) %>
  <%= label_tag(:rating, "5 stars") %>

  <%= f.submit "Done rating" %>
<% end %>