<%= form_with model: @trip do |f| %>
  <h2><%= action_name %> Trip</h2>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :passenger_id %>
  <%= f.collection_select :passenger_id, Passenger.order(:id), :id, :id, include_blank: true %>
  
  <%# Source: https://stackoverflow.com/questions/14113057/how-to-have-a-drop-down-select-field-in-a-rails-form %>
  <%# f.collection_select :driver_id, Driver.order(:id), :id, :name, include_blank: true %>
  <%= f.label :driver_id %>
  <%= f.collection_select :driver_id, Driver.order(:id), :id, :id, include_blank: true %>

  <%= f.label :cost %>
  <%= f.text_field :cost %>

  <%= f.label :rating %>

  <%= f.radio_button :rating, "1"%>
  <%= f.label :rating, "1", :value => "1" %>

  <%= f.radio_button :rating, "2"%>
  <%= f.label :rating, "2", :value => "2" %>
  
  <%= f.radio_button :rating, "3"%>
  <%= f.label :rating, "3", :value => "3" %>

  <%= f.radio_button :rating, "4"%>
  <%= f.label :rating, "4", :value => "4" %>

  <%= f.radio_button :rating, "5"%>
  <%= f.label :rating, "5", :value => "5" %>

  <%= f.submit "Save" %>
<% end %>
