<h1><%= @trips[0].passenger.name %>'s Trips</h1>

<%= link_to "Create a new trip", passenger_trips_path(params[:passenger_id]), method: :post %>

<div class="container">
  <div class="row">
    <div class="col-sm">
<table class="table table-sm">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Date</th>
    <th scope="col">Passenger Name</th>
    <th scope="col">Driver Name</th>
    <th scope="col">Rating</th>
    <th scope="col">Cost</th>
  </tr>
  <% @trips.each do |trip| %>
      <tr>
      <td><%= link_to trip.id, trip_path(trip.id) %> </td>
      <td><%= trip.date %> </td>
      <td><%= link_to trip.passenger.name, passenger_path(trip.passenger) %></td>
      <td><%= link_to trip.driver.name, driver_path(trip.driver) %></td>
      <td><%= trip.rating %></td>
      <td><%= trip.cost %></td>
      </tr>
  <% end %>
</table>
</div>
</div>
</div>