<section class="heading">
<h1>Trips</h1> <%= button_to "Add Trip", new_trip_path, :method => "get" %>
</section>
<div class="wrapper_trips">
  <div>TRIP #</div>
  <div>DATE</div>
  <div>PASSENGER ID</div>
  <div>DRIVER ID</div>
  <div>RATING</div>
  <div>COST</div>
  <div>EDIT</div>
  <div>DELETE</div>
  <% @trips.each do |trip|  %>
      <div><%= link_to trip.id, trip_path(trip.id) %></div>
      <div><%= trip.date %></div>
       <div><%= link_to trip.passenger_id, passenger_path(trip.passenger_id) %></div>
       <div><%= link_to trip.driver_id, driver_path(trip.driver_id) %></div>
       <div><%= trip.rating %></div>
       <div>$ <%= trip.cost %></div>
       <div><%= link_to "Edit Trip", edit_trip_path(trip.id) %></div>
       <div><%= link_to "Delete", trip_path(trip.id), method: :delete, data: {confirm: "Are you sure?"}%></div>
  <% end %>
  </div>