<h1>Trips Index Page</h1>

<h2>List of all Trips</h2>

<table>
  <tr>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
    <th>Roden By</th>
    <th>Droven By</th>
    <th>Edit</th>
  </tr>
  <%@trips.each do |trip|%>
  <tr>
    <td><%=trip.date%></td>
    <td><%=trip.rating%></td>
    <td><%=trip.cost%></td>
    <td><%=trip.passenger.name%></td>
    <td><%=trip.driver.name%></td>
    <th><%= link_to "Edit Trip", edit_trip_path(trip.id) %></th>
  </tr>
  <% end %>
</table>
