<h1>Trips Index Page</h1>

<h2>List of all Trips</h2>

<table>
  <tr>
  <th>Trip #
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
    <th>Roden By</th>
    <th>Droven By</th>
    <th>Edit</th>
    <th>Delete Trip</th>
  </tr>
  <%@trips.each do |trip|%>
  <tr>
    <td><%= link_to trip.id, trip_path(trip.id) %></td>
    <td><%=trip.date%></td>
    <td><%=trip.rating%></td>
    <td>
    <% if trip.cost != nil %>
      $<%= sprintf('%.2f', trip.cost / 100)%>
    <% else %>
      0
    <% end %>
    </td>
    <td><%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %></td>
    <td><%= link_to trip.driver.name, driver_path(trip.driver.id) %></td>
    <th><%= link_to "Edit Trip", edit_trip_path(trip.id) %></th>
    <th><%= link_to "Delete Trip", trip_path(trip.id), method: :delete, data: {confirm: "Are you sure?"}, class: "index-delete-link" %></th>
  </tr>
  <% end %>
</table>
