<h2>Request a Trip for Passenger: <%=@trip.passenger.name %></h2>

<p> You will be assigned the first available driver. </p>

<%= form_with model: @trip, url: passenger_trips_path(params[:passenger_id]), class: 'new_trip_form_class' do |f| %>
  <%= f.label :passenger %>
  <%= f.text_field :passenger_id %>
  <% %>

  <%= f.submit "Create Trip", class: "new-trip-form-button"%>
<% end %>

<% if @trip.errors.any?%>
  <ul class="errors">
    <% @trip.errors.each do |column, message|%>
      <li>
        <strong><%= column.capitalize%>
        <%= message%>
      </li>
    <% end%>
  </ul>
<% end %>