<h2>New Trip Form for Passenger: <%=@trip.passenger.name %></h2>

<% if @trip.errors.any?%>
  <ul class="errors">
    <% @trip.errors.each do |column, message|%>
      <li>
        <strong><%= column.capitalize%>
        <%= message%>
      </li>
    <% end%>
  </ul>
<% end %>


<%= form_with model: @trip, class: 'trip_form_class' do |f| %>

  <%= f.label :driver%> <%= @trip.driver %>

  <%= f.label :passenger %>
  <%= f.label :passenger_id, @passengers.map{|pass| [pass.name, pass.id]}%>
  <% %>
  <%= f.label :date%>
  <%= f.text_field :date%>

  <%= f.submit submit_button_label, class: "trip-form-button"%>
<% end %>