<h2>Request a Trip for Passenger: <%=@trip.passenger.name %></h2>


<%= form_with model: @trip, class: 'new_trip_form_class' do |f| %>
  <%= f.label :passenger %>
  <%= f.select :passenger_id, @passengers.map{|pass| [pass.name, pass.id]}%>
  <% %>
  <%= f.label :date%>
  <%= f.text_field :date%>

  <%= f.submit "Create Trip", class: "new-trip-form-button"%>
<% end %>

<% if @trip.errors.any?%>
  <ul class="errors">
    <% @trip.errors.each do |column, message|%>
      <li>
        <strong><%= column.capitalize%>
        <%= message%>
      </li>
    <% end%>
  </ul>
<% end %>