<main>
  <h1>Create Trip for <%=@passenger.name%></h1>

  <%= form_with model: @trip, class: "create_trip_form" do |f| %>
    <p>
      <%= f.label :date %>
      <%= f.text_field :date, value: @trip.date %>
    </p>
      <%= f.label :driver %>
      <%= f.select :driver_id, [[@trip.driver.name, @trip.driver.id]] %>
    <p>
      <%= f.label :passenger %>
      <%= f.select :passenger_id, @passengers.map{ |passenger| [passenger.name, passenger.id] } %>
    </p>
    <p>
      <%= f.label :cost_in_cents %>
      <%= f.text_field :cost, value: @trip.cost %>
    </p>
    <%= f.submit "Add Trip", class: "small-button" %>
  <% end %>
</main>

