<main>
  <h1>Create Trip for <%=@passenger.name%></h1>

<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @trip, class: "create_trip_form" do |f| %>
  <p>
    <%= f.label :date %>
    <%= f.text_field :date, value: @trip.date %>
  </p>
    <%= f.label :driver %>
    <%= f.select :driver_id, [[@trip.driver.name, @trip.driver.id]] %>
  <p>
    <%= f.label :passenger %>
    <%= f.select :passenger_id, @passengers.map{ |passenger| [passenger.name, passenger.id] } %>
  </p>
  <p>
    <%= f.label :cost_in_cent %>
    <%= f.text_field :cost, value: @trip.cost %>
  </p>
  <%= f.submit "Add Trip", class: "small-button" %>
<% end %>

