<h1> Trip Details </h1>

<ul>

  <li>
    Driver ID: <%= @trip.driver_id %>
  </li>
  <li>
    Passenger ID: <%= @trip.passenger_id %>
  </li>
  <li>
    Date: <%= @trip.date %>
  </li>
  <li>
    Rating: <%= @trip.rating %>
  </li>
  <li>
    Cost: $<%= '%.2f' % @trip.cost %>
  </li>

</ul>