<article class='show'>

<h2>Trip ID: <%= @trip.id %></h2>

<div class='row heading'>
  <p>Trip ID</p>
  <p>Date</p>
  <p>Passenger ID</p>
  <p>Passenger Name</p>
  <p>Driver ID</p>
  <p>Driver Name</p>
  <p>Cost</p>
  <p>Rating</p>
</div>

<div class='row'>
  <p><%= @trip.id %></p>
  <p><%= @trip.date %></p>
  <p>
    <% if @trip.passenger_id.nil? %>
      [deleted]
    <% else %>
      <%= link_to @trip.passenger_id, passenger_path(id: @trip.passenger_id) %>
    <% end %>
  </p>
  <p>
    <% if @trip.passenger_id.nil? %>
      [deleted]
    <% else %>
      <%= link_to @trip.passenger.name, passenger_path(id: @trip.passenger_id) %>
    <% end %>
  </p>
  <p>
    <% if @trip.driver_id.nil? %>
      [deleted]
    <% else %>
      <%= link_to @trip.driver_id, driver_path(id: @trip.driver_id) %>
    <% end %>
  </p>
  <p>
    <% if @trip.driver_id.nil? %>
      [deleted]
    <% else %>
      <%= link_to @trip.driver.name, driver_path(id: @trip.driver_id) %>
    <% end %>
  </p>
  <p>$<%= number_with_precision(@trip.cost, :precision => 2) %></p>
  <p>
    <% if @trip.rating == nil%>
      <%= link_to 'Assign Rating', assign_rating_edit_path, class:"link" %>
    <% else %>
      <%= @trip.rating %>
    <% end %>
  </p>
</div>

<div class='button-container'>
  <%= button_to 'Edit', edit_trip_path, class:"button", method: :get %>
  <%= button_to 'Delete', trip_path, method: :delete, data: {confirm: "Delete trip"}, class:"button" %>
</div>

</article>
