<%# View details of the trip
Assign a rating (1-5) to the trip, if it does not already have one
Click a link to the detail page for the trip's passenger
Click a link to the detail page for the trip's driver
Click a link to edit the trip
Click a link to delete the trip %>
<header class= "show-header">
  <h1> Details for Trip Number # <%= @trip.id%></h2>
</header>

<section class="show-details">
  <h2> About this trip:</h2>
  <ul>
    <li><%= link_to "Edit this trip!", edit_trip_path(@trip.id)%></li>
    <li><%= link_to "Delete this trip!", trip_path(@trip.id), method: :delete, data: {confirm: "Really delete?"}%></li>
    <li>Driver: <%= link_to @trip.driver.name, driver_path(@trip.driver.id)%> </li>
    <li>Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id)%> </li>
    <li>Date: <%= @trip.date%> </li>
    <li>Rating: 

    <% if @trip.rating.nil? %>
      <%= form_with model: @trip do |f| %>
        <%= f.label :rating %>
        <%= f.select :rating, [1,2,3,4,5] %>
        <%= f.submit "Submit Rating", class: "rating-form-button" %>
      <% end%>
    <% end %>
    
    <% if @trip.rating 
      @trip.rating.times do |star| %> 
        <span>✰</span>
      <%end%>
    <%end%>
    </li>
    <li>Cost: $<%= @trip.cost%> </li>
  </ul>
  </section>