<h1>Trip #<%= @trip.id %> Details</h1>

<section>
  <table class="trip-details-table">
  <tr class="column-heading">
    <th>Date</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Cost</th>
    <th>Rating</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>
      <%= @trip.date %> 
    </td>
    <td>
      <% if @trip.driver.nil? %>
        Unknown
      <% else %>
        <%= link_to @trip.driver.name, driver_path(@trip.driver) %>
      <% end %> 
    </td>
    <td>
      <% if @trip.passenger.nil? %>
        Unknown
      <% else %>
        <%= link_to @trip.passenger.name, passenger_path(@trip.passenger) %>
      <% end %>

    </td>
    <td>
      $<%= sprintf('%.2f', @trip.cost_to_dollars) %> 
    </td>
    <td>
      <%= @trip.rating %>
    </td>

    <% if @trip.driver.active == true %>
      <td>On going trip</td>
      <td>
        <%= link_to " Complete trip", complete_path(@trip.id), method: :patch, class: "action-link" %>
      </td>
    <% else %> 
      <td>
        <%= link_to "Edit", edit_trip_path(@trip.id) %>
      </td>
      <td>
        <%= link_to "Delete", trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure you want to delete this trip?" }%>
      </td>
    <%end%>

  </tr>

  </table>
</section>
