<h1>Trip Details</h1>

  <%= link_to "Edit Trip Info", edit_trip_path(@trip.id) %>


  <table class='trips-table'>
    <tr>
      <th>Date</th>
      <th>Rating</th>
      <th>Cost</th>
      <th>Driver ID</th>
      <th>Passenger Name</th>
    </tr>
    <tr>
      <td><%= @trip.date %></td>
      <td><%= @trip.rating %></td>
      <td><%= @trip.cost %></td>
      <td><%= @trip.driver.id %></td>
    </tr>
    </table>


  </table>
</section>
