<h1> Trip Details </h1>
<%= link_to 'Edit', edit_trip_path %>
<%= link_to 'Delete', trip_path, method: :delete, data: {confirm: "Are you sure?"}%>

<ul>

  <li>
    Driver ID: <%= @trip.driver_id %>
  </li>
  <li>
    Passenger ID: <%= @trip.passenger_id %>
  </li>
  <li>
    Date: <%= @trip.date %>
  </li>
  <li>
    Rating: <%= @trip.rating %>
  </li>
  <li>
    Cost: $<%= '%.2f' % @trip.cost %>
  </li>

</ul>
<%= link_to 'Back to List of Trips', trips_path %>