<h2>Trip #<%= @trip.id %> Details</h2>

<section>
  <p>
      <%# Need to figure out method to display cost in dollars, not cents! Also, this could be a table...%>
    Date: <%= @trip.date %> 
    Driver: 
      <% if @trip.driver.nil? %>
        Unknown
      <% else %>
        <%= link_to @trip.driver.name, driver_path(@trip.driver) %>
      <% end %> 
    Passenger: 
      <% if @trip.passenger.nil? %>
        Unknown
      <% else %>
        <%= link_to @trip.passenger.name, passenger_path(@trip.passenger) %>
      <% end %>
    Cost: $<%= sprintf('%.2f', @trip.cost_to_dollars)  %> 
    Rating: <%= @trip.rating %>
  </p>

  <% if @trip.driver%>
    <% if @trip.driver.active == true %>
      <p>This is an on going trip</p>
      <%= link_to " Complete this trip!", complete_path(@trip.id), method: :patch, class: "action-link" %>
    <% else %>  
      <p>This trip has completed</p>
      <p><%= link_to "Edit", edit_trip_path(@trip.id) %></p>
      <p><%= link_to "Delete", trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure you want to delete this trip?" }%></p>
    <%end%>
  <%end%>

</section>
