<h2>Trip ID: <%= @trip.id %></h2>

<p>Date: <%= @trip.date %></p>

<% if @trip.passenger_id.nil? %>
  <p>Passenger ID: [deleted]</p>
  <p>Passenger Name: [deleted]</p>
<% else %>
  <p>Passenger ID: <%= link_to @trip.passenger_id, passenger_path(id: @trip.passenger_id) %></p>
  <p>Passenger Name: <%= link_to @trip.passenger.name, passenger_path(id: @trip.passenger_id) %></p>
<% end %> 

<% if @trip.driver_id.nil? %>
  <p>Driver ID: [deleted]</p>
  <p>Driver Name: [deleted]</p>
<% else %>
  <p>Driver ID: <%= link_to @trip.driver_id, driver_path(id: @trip.driver_id) %></p>
  <p>Driver Name: <%= link_to @trip.driver.name, driver_path(id: @trip.driver_id) %></p>
<% end %> 

<p>Trip Cost: $<%= number_with_precision(@trip.cost, :precision => 2) %></p>

<p>Rating: 
  <% if @trip.rating == nil%>
    <%= link_to 'Assign Rating', assign_rating_edit_path %>
  <% else %>
    <%= @trip.rating %>
  <% end %>
</p>

<p><%= link_to 'Edit', edit_trip_path %></p>
<p><%= link_to 'Delete', trip_path, method: :delete, data: {confirm: "Delete trip"}%></p>
