<h2>Trip ID: <%= @trip.id %></h2>
<p>Date: <%= @trip.date %></p>
<p>Passenger ID: <%= @trip.passenger_id %></p>
<p>Passenger Name: <%= @trip.passenger.name %></p>
<p>Driver ID: <%= @trip.driver_id %></p>
<p>Driver Name: <%= @trip.driver.name %></p>
<p>Trip Cost <%= @trip.cost %></p>
