<h1>Trip ID: <%= @trip.id %></h1>

<ul>
  <li>Driver: <%= link_to @trip.driver.name, driver_path(@trip.driver) %></li>
  <li>Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger) %></li>
  <li>Date: <%= @trip.date %></li>
  <li>Rating: <%= @trip.rating %></li>
  <li>Cost: <%= @trip.cost %></li>
</ul>
