<h1>Trip Details</h1>




<p>Date: <%=@trip.date%></p>
<p>Driver_id: <%=@trip.driver_id%></p>
<p>Passenger: <%=@trip.passenger_id%></p>
<p>Cost: <%=@trip.cost%></p>
<p>Rating: <%=@trip.rating%></p>


