<h1>Trip Details</h1>




<p>Date: <%=@trip.date%></p>
<p>Driver_id: <%=@trip.driver_id%></p>
<p>Passenger: <%=@trip.passenger_id%></p>
<p>Cost: <%=@trip.cost%></p>

<%= form_with model: @trip do |f|%>

  <%=f.label "Date:"%> 
  <%=f.text_field :date, :readonly => true%>

  <%=f.label "Driver_id:"%>
  <%=f.text_field :driver_id, :readonly => true%>
  

  <%=f.label "Passenger_id:"%>
  <%=f.text_field :passenger_id, :readonly => true%>

  <%=f.label "Cost:"%>
  <%=f.text_field :cost, :readonly => true%>

  <%if @trip.rating == nil %>
    <%= f.label :rating %>
    <%= f.select :rating, [1, 2, 3, 4, 5] %>
  <%elsif @trip.rating != nil %>
    <p>Rating: <%=@trip.rating%>
  <%end%>
<%end%>

<%# <%= link_to "update", passenger_trips_path(@trip), method: :patch%> 








