    <header>
      <h1>Welcome to D & J Rideshare Company</h1>
      <nav>
        <ul>
          <%= link_to "Rideshare Rails", root_path %>
          <%= link_to "Passengers", passengers_path %>
          <%= link_to "Drivers", drivers_path %>
          <%= link_to "Add Driver", new_driver_path %>
          <%= link_to "Add Passenger", new_passenger_path %>
        </ul>
    </header>