<% if @passenger.errors.any? %>
  <h3>Please fix the following...</h3>
  <ul>
  <% @passenger.errors.each do |error, msg|%>
    <li><%= error %>: <%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with model: @passenger do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :phone_num %>
  <%= f.text_field :phone_num %>

  <%= f.submit "SIGN ME UP!" %>
  <%= button_tag "RESET", type: :reset %>
<% end %>