<section class="passenger_grid">
  <section class="header_row"><%= "ID" %></section>
  <section class="header_row"><%= "NAME" %></section>
  <section class="header_row"><%= "PHONE NUMBER" %></section>
  <section class="header_row"><%= "EDIT" %></section>
  <section class="header_row"><%= "DELETE" %></section>
  

    <section><%= @passenger.id%></section>
    <section><%= @passenger.name%></section>
    <section><%= @passenger.phone_num%></section>
    <%= link_to "FAKE", root_path %>
    <%= link_to "FAKE", root_path %>

</section>