<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Edit Passenger</title>
  </head>

  <body>
  <body>
    <header>
      <h1>Welcome to Rideshare</h1>
      <nav>
        <ul>
          <%= link_to "Rideshare Rails", root_path %>
          <%= link_to "Passengers", passengers_path %>
          <%= link_to "Drivers", drivers_path %>
          <%= link_to "Add Driver", new_driver_path %>
          <%= link_to "Add Passenger", new_passenger_path %>
        </ul>
      </nav>
    </header>

     <% if @passenger.errors.any? %>
      <% @passenger.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
    <% end %>

    <%= form_with model: @passenger do |f| %>
      <p>Please provide the following information to update the passenger to our database:</p>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :phone_number, "Phone Number" %>
      <%= f.text_field :phone_number%>
      <%= f.submit "Update Passenger" %>
    <% end %>
  </body>
</html>