<h1>PASSENGERS index</h1>

<%= link_to "NEW PASSENGER", new_passenger_path %><br>
<hr>



<section class="passenger_grid">
  <section class="header_row"><%= "ID" %></section>
  <section class="header_row"><%= "NAME" %></section>
  <section class="header_row"><%= "PHONE NUMBER" %></section>
  <section class="header_row"><%= "EDIT" %></section>
  <section class="header_row"><%= "DELETE" %></section>
  

  <% @passengers.each do |passenger| %>
    <section><%= passenger.id%></section>
    <section><%= passenger.name%></section>
    <section><%= passenger.phone_num%></section>
    <%= link_to "FAKE", root_path %>
    <%= link_to "DELETE", passenger_path(id: passenger.id), method: :delete, data: { confirm: "Sure?" } %>
  <%end %>
</section>

