<h3>Add a New Passenger</h3>

<%= form_with model: @passenger do |f| %>
  <%= f.label "Name:"%>
  <%= f.text_field :name %>
  <br>
  <%= f.label "Phone Number:" %>
  <%= f.text_field :phone_num %>
  <br>
  <%= f.submit "Create New Passenger"%>
<% end %>



<%= link_to "Back to Passenger List", passengers_path%>