<h1>SHOWING PASSENGER INFO</h1>

<section class="passenger_grid">
  <section class="header_row"><%= "ID" %></section>
  <section class="header_row"><%= "NAME" %></section>
  <section class="header_row"><%= "PHONE NUMBER" %></section>
  <section class="header_row"><%= "EDIT" %></section>
  <section class="header_row"><%= "DELETE" %></section>
  
    <section><%= @passenger.id%></section>
    <section><%= @passenger.name%></section>
    <section><%= @passenger.phone_num%></section>

    <%= link_to "EDIT", edit_passenger_path(id: @passenger.id) %>
    <%= link_to "DELETE", passenger_path(id: @passenger.id), method: :delete, data: { confirm: "Sure?" } %>
</section>

<br><hr><br>
<h1>TOTAL SPENT = <%= usd(@passenger.total_spent) %></h1>
<h1>LINKS</h1>
<%= link_to "REQUEST TRIP", passenger_trips_path(passenger_id: @passenger.id, date: Time.now), method: :post %><br><br>
<%= link_to "SHOW TRIP HISTORY", trips_path(passenger_id: @passenger.id) %><br><br>
<%= link_to "GO BACK", passengers_path, class:"go_back"%>