<h2>Passenger: <%= @passenger.name %></h2>
<h3>Phone number: <%= @passenger.phone_num%><h3>
<h4>Total expenses: $<%= @passenger.total_amount_charged %></h4>

<h3>Trips made by this passenger:<h3>

<% @passenger.trips.each do |trip|%>
  <li> Trip ID: <%= trip.id %> 
  <li> Date: <%= trip.date %></li>
  <li> Driver: <%= trip.driver.name %></li>
  <li> Cost: $<%= (trip.cost)/100.0 %></li>
  <li> Rating: <%= trip.rating %></li>
  </br>
<% end %>

<p><%= link_to "Return to Passenger List", passengers_path %></p>
