



<ul>
    <li>Name: <%=@passenger.name%></li>
    <li>Phone Number: <%=@passenger.phone_num%></li>
    <li>Total Amount Charged: </li>
    <li>Request Ride: </li>
    <li><%=link_to "Edit Passenger", edit_passenger_path(@passenger.id) %><li>
    <li><%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure? It will be gone forever."} %></li>

</ul>

<table>
  <tr>
    <th>trip_id</th>
    <th>Date</th>
    <th>Drivers</th>
    <th>Rating </th>
    <th> Cost</th>
    <th> Edit </th>
    <th> Delete </th> 

  </tr>

   <% @passenger.trips.each do |trip| %>
  <tr>
    <td><%= trip.id%></td>
    <td><%=trip.date%>
    <td><%= trip.driver %></td>
    <td><%= trip.rating%> </td>
    <td><%=trip.cost%></td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
  <% end %>
</table>