<h2>Passenger Details</h2>

<%= link_to "Back to Homepage", root_path %>
<br>
<%= link_to "Back to list of passengers", passengers_path %>



<p>Name: <%= @passenger.name %></p>
<p>Phone Number: <%= @passenger.phone_num %></p>
<p>ID: <%= @passenger.id %></p>
<p> Total Spent: $<%= @passenger.total_amount %> </p>
<%= link_to "Edit Passenger", edit_passenger_path %>
<br>
<%= link_to "Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure you want to delete this passenger?"}%>
<br>
<%= link_to 'New Trip', passenger_trips_path(@passenger), method: :create %>

<%# <p>
Trip Needs Rating:
<br>
<ul>

  <% if trip.rating.nil? %>

  <%# <% end %>
<%# </ul>
</p> %> 

<p>

   
  <br>
  <ul>
    <% i = 1 %>
    <% @passenger.trips.each do |trip| %>
      <% if trip.rating.nil? %>
        Needs Rating:
        <li>
          <%= link_to "Trip #{i}", trip_path(trip) %>
        </li>
      <% else %> 
        <li>
          <%= link_to "Trip #{i}", trip_path(trip) %>
        </li>
        <% end %>
      <% i += 1%>
      <br>
    <% end %>
  </ul>

</p>