<h1> Here's the detail of a passenger.</h1>

<section>
  <p> <%= @passenger.name %> </p>
  <p> Phone number: <%=  @passenger.phone_num %> </p>

  <%= link_to "Edit passenger profile", edit_passenger_path(@passenger.id)%>

  <p><%= link_to "Request Trip", new_passenger_trip_path(@passenger.id) %></p>

  <p>Total amount charged by greedy rideshare people: $<%= sprintf('%.2f', @passenger.total_charged)%></p>
</section>

<table>
  <tr>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
    <th>Driven By</th>
  </tr>
  <%@passenger.trips.each do |trip|%>
  <tr>
    <td><%= link_to trip.date, trip_path(trip.id) %></td>
    <td><%=trip.rating%></td>
    <td>
    <% if trip.cost != nil %>
      $<%= sprintf('%.2f', trip.cost / 100)%>
    <% else %>
      0
    <% end %>
    </td>
    <td><%=trip.driver.name%></td>
  </tr>
  <% end %>
</table>

