<h1>Passenger Details</h2>

<p>Total Charges: $<%=@passenger.total_amount%></p>

<%=link_to "Request a Trip", passenger_trips_path(@passenger.id), method: :post%>
  
  <%@passenger.trips.each do |trip|%>
  <p>Trip_id: <%=trip.id%>  (<%= link_to "Details", trip_path(trip)%>)</p>
  <br>
  <%end%>

<%= link_to "Manage Passengers", passengers_path%>
<%= link_to "Home", root_path%>