<h1 class="passenger-name-border">
<%= @passenger.name %>
</h1>

<p><%= link_to '<button type="button">Request New Trip</button>'.html_safe, new_passenger_trip_path( passenger_id: @passenger.id ), method: :post%></p>

<h3> Passenger Details</h3>

<table>
<th> Passenger ID </th>
<th> Phone Number</th>
<th> # of Rides Taken </th>
<th>Total Spending</th>



<tr>
<td><%= @passenger.id %></td>
<td><%= @passenger.phone_num %></td>
<td><%= @passenger.count_rides %></td>
<td><%= @passenger.total_charges %></td>


</tr>

</table>

<h3>Rides taken:</h3>
<%# Trip.where(driver_id = "#{@driver.id}")%>
<table>
<th> id </th>
<th> Date</th>
<th> Driver ID </th>
<th>Price</th>
<th>Rating</th>
<th>Delete</th>



<% @passenger.trips.each do |trip| %>
<tr>
<td><%= link_to trip.id, trip_path( trip.id ) %></td>
<td><%= trip.date %></td>
<td><%= trip.driver_id %></td>
<td><%= trip.cost %></td>
 <% if trip.rating %>
<td><%= trip.rating %></td>
<% else %>
<td><%= form_with model: @trip, :url => {:action => "rate_trip", :trip_id => trip.id} , class: "trip_form_class" do |f| %>
<%= f.select(:rating, options_for_select(['5', '4', '3', '2', '1']), 
                        {}, 
                        class: "chzn-select")

                        %>
                                                      <%= f.submit button: "Submit", class: "trip-form-button" %>
<%end%></td>
                        
<%end%>
<td><%= link_to '<button type="button">Delete</button>'.html_safe, trip_path( trip.id ), method: :delete, data: { confirm: "Are you sure you want to delete this trip?"}%></td>


</tr>

<%end%>

</table>

