<h1><%= @passenger.name %></h1>

<h2>phone number: <%= @passenger.phone_num %></h2>
<h2>total charges: $<%= @passenger.total_charges %></h2>

<%= link_to "edit", edit_passenger_path(@passenger.id) %>
<%= link_to "delete", passenger_path(@passenger.id), method: :delete %>
<%= link_to "add trip", new_trip_path(@passenger.id), method: :post %>

<%= render :partial => "shared/triptable", :locals => { :object => @passenger } %>
