<section>
  <h2>Passenger</h2>

  <% if @passenger.errors.any? %>
    <ul class="errors">
      <% @passenger.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <p>
    Name: <%= @passenger.name %> <br>
    Phone Number: <%= @passenger.phone_num %>
  </p>

  <div>Total Charged: <%= number_to_currency(@passenger.total_charged / 100.0) %></div>

  <div>Request trip link<%# link_to "Request Trip", trips_path(@passenger.id), method: :post %></div>
  
  <div><%= link_to "Request a Trip", trips_path, method: :post%></div>

  <div class="modify-options">
    <div><%= link_to "Edit", edit_passenger_path(@passenger.id) %></div>
    <div><%= link_to "Delete", passenger_path(@passenger.id), method: :delete %></div>
  </div>

  <%# trips list %>
  <%= render partial: "shared/triptable", locals: { object: @passenger } %>

</section>