<header class="show-header">
<h1><%=@passenger.name%></h1>

<ul>
  <li><strong> Phone number: </strong> <%=@passenger.phone_num%>
  <li><strong> Total charged: </strong> 


  <li> <%= link_to "Edit passenger!", edit_passenger_path(@passenger.id)%></li>
  <li> <%= link_to "Delete passenger!", passenger_path(@passenger.id), method: :delete, data: {confirm: "are you sure???"}, class: "passenger-delete-link" %></li>
  <li> <%= link_to "Add a new trip for this passenger", new_passenger_trip_path(@passenger.id) %></li>
</ul>

<h2><%=@passenger.name%>'s trips:</h2>
<table style="width100%">
  <tr>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
  </tr>
  <% Trip.where(passenger_id:@passenger.id).each do |trip| %> 
  <tr>
      <td><%= link_to trip.date, trip_path(trip.id)%></td>
      <td><%= trip.rating %>
      <td><%= trip.cost %>
  </tr>
  <%end%>
</header>
