<header class="show-header">
  <h1><%=@passenger.name%></h1>
</header>

<section class="show-details">
  <h2>Phone #<%=@passenger.phone_num%></h2>
  <section class="button">
    <%= link_to "Edit", edit_passenger_path(@passenger.id) %>
    <%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: { confirm: "Are you sure you want to delete this passenger?" }, class: "index-delete-link" %>
  </section>

  <h3>
    <%= link_to "Request Ride", passenger_trips_path(@passenger.id), method: :post, data: { confirm: "Are you sure you want to request a trip?" } %>
  </h3>
  <h3>
    Total Paid: $<%= @passenger.total_paid %>
  </h3>

  <section>
    <% if @passenger.trips.empty? %>
      <h3>Passenger has 0 trips</h3>
    <% else %>
      <h3>Passenger Trips: </h3>
      <ul class= "passenger-heading">
        <li><h4>Date</h4></li>
        <li><h4>Driver</h4></li>
        <li><h4>Cost</h4></li>
        <li><h4>Rating</h4></li>
      </ul>
        <% @passenger.trips.each do |trip| %>
      <ul class= "passenger-trips">
        <li><%=link_to trip.date, trip_path(trip.id)%></li>
        <li><%=link_to trip.driver.name, driver_path(trip.driver.id)%></li>
        <% trip_cost = trip.cost / 100 %>
        <li>$<%= '%.2f' % trip_cost %></li>
        <li><%=trip.rating%></li>
      </ul>
      <% end %>
    <% end %>
  </section>

</section>
