<h1>Passenger Details</h1>

<section>
  <ul>
    <li><%=@passenger.name%></li>
    <li><%=@passenger.phone_num%></li>
    <li><%= "Total Expenditures: $#{@passenger.net_expenditures}"%></li>
  </ul>
</section>

<section>
  <p><%= link_to "Request a Trip", passenger_trips_path(@passenger.id), method: :post %></p>
</section>

<section>
  <h2>Trips</h2>
  <ul>
  <%@passenger.all_trips.each do |trip|%>
    <li>
      <%= link_to trip.date, trip_path %>
      <%=trip.cost%>
      <%=trip.driver.name%> 
      <%=trip.rating%>  
    </li>
  <%end%>
  </ul>
</section>
