<p id="notice"><%= notice %></p>
<h2>Passenger Profile</h2>

<p>
  <strong>Name:</strong>
  <%= @passenger.name %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @passenger.phone_num %>
</p>

<p>
  <strong>My trips:</strong>
  <% @passenger.find_passenger_trips.each do |trip| %>
    <%= link_to trip.id, trip_path %>
  <% end%>
</p>

<p>
  <strong>My charged amount:</strong>
  <%= @passenger.amount_charged %>
</p>

<%= link_to 'Request Trip', new_passenger_trip_path(@passenger) %>
<%= link_to 'Edit', edit_passenger_path(@passenger) %>
<%= link_to 'Back', passengers_path %>
