<header class="show-header">
<h1><%=@passenger.name%></h1>

<ul>
  <li><strong> Phone number: </strong> <%=@passenger.phone_num%>
  <li><strong> Total charged: </strong>


  <li> <%= link_to "Edit passenger!", edit_passenger_path(@passenger.id)%></li>
  <li> <%= link_to "Delete passenger!", passenger_path(@passenger.id), method: :delete, data: {confirm: "are you sure???"}, class: "passenger-delete-link" %>


  <li><%= link_to "View a list of this passenger's trips"%>
  <li> <%= link_to "Add a new trip for this passenger", new_trip_path %>
</ul>
</header>
