<h1>Passenger: <%= @passenger.name %></h1>
<h2>Contact: <%= @passenger.phone_number %></h2>
<h2>Total Amount Charged: $<%= number_with_precision(@passenger.total_charged, :precision => 2) %></h2>

<ul>
    <% @passenger.trips.each do |trip| %>
    <li> <%= link_to trip, trip_path(trip.id) %> </li>
    <% end %>
</ul>

<%= link_to "<button>Edit</button>".html_safe, edit_passenger_path(@passenger.id) %>
<%= link_to "<button>Delete</button>".html_safe, passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure you want to delete this passenger?"}%>

<p><%= link_to "Return to Passengers", passengers_path %></p>

<p><%= link_to "Add Trip", passenger_trips_path(@passenger.id), method: :post %></p>
