<h2>Passenger: <%= @passenger.name %></h2>
<h3>Phone number: <%= @passenger.phone_num%><h3>
<h3>Trips made by this passenger:<h3>

<% @passenger.trips.each do |trip|%>

<li> ID: <%= link_to "#{trip.id}", trip_path(trip) %></li>
<li> Date: <%= trip.date %></li>
<li> Driver: <%= trip.driver.name %></li>
<li> Cost: <%= trip.cost %></li>
<li> Rating: <%= trip.rating %></li>

<% end %>

<p><%= link_to "Return to Passenger List", passengers_path %></p>
<p><%= link_to "Call a ride",  passenger_trips_path(@passenger.id), method: :post %></p>



