<header class="show-header">
  <h1><%=@passenger.name%></h1>
  <%= link_to "Request new trip!", new_passenger_trip_path(@passenger.id)%>
  <%= link_to "Edit this passenger!", edit_passenger_path(@passenger.id) %>
  <%= link_to "(Delete this passenger!)", passenger_path(@passenger.id), method: :delete, data: { confirm: "Are YOU sure?" }, class: "index-delete-link" %>
</header>

<section class="show-details">

  <p>
    Phone number: <%=@passenger.phone_num%>
  </p>


  <p>List of trips</p>

  <table>                         
    <tr>                          
      <th>Trip ID</th>
      <th>Trip Date</th>
      <th>Trip Cost</th>
      <th>Rating</th>
    </tr>   
    <%@passenger.trips.each do |trip|%>
      <tr>
        <td><%= link_to trip.id, trip_path(trip.id) %></td>
        <td><%= trip.date %></td>
        <td>$<%= sprintf('%.2f', trip.cost_to_dollars) %></td>
        <td><%= trip.rating %></td>
      </tr>
    <% end %>                    
  </table>   
</section>