<%= form_with model: @driver, class: "driver-form" do |f| %>
  <p>Please complete the fields below to <%= action_name.downcase %> driver.</p>

  <%= f.label :name %>
  <%= f.text_field :name%>
  <br>
  <%= f.label :vin %>
  <%= f.text_field :vin %>
  <br>
  <%= f.label :car_make %>
  <%= f.text_field :car_make %>
  <br>
  <%= f.label :car_model %>
  <%= f.text_field :car_model %>
  <br>
  <%= f.label :available %>
  <%= f.select :available, ["true", "false"]%>
  <br><br>
  <%= f.submit "#{action_name} Driver", class: "driver-button" %>
<% end %>
