<%= form_with model: @driver, class: "driver_form" do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :vin %>
    <%= f.text_field :vin %>
  </p>
  <p>
    <%= f.label :car_make %>
    <%= f.text_field :car_make %>
  <p>
  <p>
    <%= f.label :car_model %>
    <%= f.text_field :car_model %>
  </p>
  <%= f.submit submit_button_label, class: "small-button" %>
<% end %>
