<nav>
<a id="logo"href="/">RideShare Rails!</a>
<a href="/drivers/">Drivers</a>
<a href="/passengers">Passengers</a>
</nav>

<main>
<<<<<<< HEAD
  <section>
      <%= link_to "Add driver", new_driver_path, class: 'btn' %>
      <%= link_to "Add passenger", new_driver_path, class: 'btn' %>
  </section>

  <%= form_with model: @driver, class: "driver-from" do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :vin %>
    <%= f.text_field :vin %>
    <br>
    <%= f.submit "Create", class: "create-driver" %>
    <%= f.submit "Edit", class: "edit-driver" %>
</main>
<% end %>
=======
  <section class="card">
      <%= link_to "Add driver", new_driver_path, class: 'btn' %>
      <%= link_to "Add passenger", new_driver_path, class: 'btn' %>
  </section>

    <%= form_with model: @driver, class: "driver-from" do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :vin %>
      <%= f.text_field :vin %>
      <br>
      <%= f.label :car_make %>
      <%= f.text_field :car_make %>
      <br>
      <%= f.label :car_model %>
      <%= f.text_field :car_model %>
      <br>
      <%= f.submit "Create", class: "create-driver" %>
      <%= f.submit "Edit", class: "edit-driver" %>

    <% end %>
</main>
>>>>>>> c5347716811c96e567d8d6bbac0209d87d77c6bc
