<%= form_with model: @driver do |f| %>

<%= f.label 'Name:' %>
<%= f.text_field :name %>
<br><br>
<%= f.label 'VIN:' %>
<%= f.text_field :vin %>
<br><br>
<%= f.label 'Car Make: '%>
<%= f.text_field :car_make %>
<br><br>
<%= f.label 'Car Model: '%>
<%= f.text_field :car_model%>

 <%= f.submit "#{action_name} Driver" %>

 <% if @driver.errors.any? %>
  <ul class="errors">
    <% @driver.errors.each do |column, message| %>
      <li>
        <strong><%= column.upcase %></strong> <%= message.upcase %>
      </li>
    <% end %>
  </ul>
<% end %>

<% end %>