<% if @driver.errors.any? %>
  <h3>Please fix the following...</h3>
  <ul>
  <% @driver.errors.each do |error, msg|%>
    <li><%= error %>: <%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with model: @driver do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :vin %>
  <%= f.text_field :vin %>
    
  <%= f.submit "SIGN ME UP!" %> 
  <%= button_tag "RESET", type: :reset %>


<% end %>