<h3>Edit a Driver</h3>

<%= form_with model: @driver do |f| %>
  <%= f.label "Name:"%>
  <%= f.text_field :name %>
  <br>
  <%= f.label "VIN:" %>
  <%= f.text_field :vin %>
  <br>
  <%= f.submit "Edit Driver"%>
<% end %>



<%= link_to "Back to Driver List", drivers_path%>