<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Driver</title>
  </head>

  <body>
  <body>
    <header>
      <h1>Welcome to Rideshare</h1>
      <nav>
        <ul>
          <%= link_to "Rideshare Rails", root_path %>
          <%= link_to "Passengers", passengers_path %>
          <%= link_to "Drivers", drivers_path %>
          <%= link_to "Add Driver", new_driver_path %>
          <%= link_to "Add Passenger", new_passenger_path %>
        </ul>
      </nav>
    </header>

    <%= form_with model: @driver do |f| %>
      <p>Please provide the following information to update the driver to our database:</p>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :vin %>
      <%= f.text_field :vin %>

      <%= f.label :car_make, "Car Make" %>
      <%= f.text_field :car_make %>

       <%= f.label :car_model, "Car Model" %>
      <%= f.text_field :car_model %>

      <%= f.label :active, "Active/Inactive" %>
      <%= f.text_field :active %>

      <%= f.submit "Update Driver" %>
    <% end %>
  </body>
</html>