<h1> Driver: <%= @driver.name %> </h1>

<%= render :partial => "shared/validation", :locals => { :object => @driver } %>

<%= form_with model: @driver do |f| %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :vin %>
    <%= f.text_field :vin %>

    <%= f.submit "update driver" %>
  </fieldset>
<% end %>
