<h1>Rideshare Rails</h1>

<div id="nav" class="flex">
  <%= link_to "All Passengers", passengers_path %>
  <%= link_to "Add a new passenger", new_passenger_path %>
  <%= link_to "All Drivers", drivers_path %>
  <%= link_to "Add a new driver", new_driver_path %>
  <%= link_to "Homepage", root_path %>
</div>

<h2>All Drivers</h2>

<ul id="index-container">
  <% @drivers.each do |driver|  %>
    <li>
      Name: <%= link_to driver.name, driver_path(driver) %>
      <ul>
        <li>VIN: <%= driver.vin %></li>
        <% if driver.active == false %>
        <li> Status: available </li>
        <% else %>
        <li> Status: not available </li>
        <% end %>
        <li>Car Make: <%= driver.car_make %></li>
        <li>Car Model: <%= driver.car_model %></li>
        <%= link_to "Edit", edit_driver_path(driver) %> 
        <%= link_to "Delete", driver_path(driver), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
      </ul>
    </li>
  <% end %>
</ul>
