<div class="form-input">
<h3>Add a New Driver</h3>

<% if @driver.errors.any? %>
  <ul class="errors">
    <% @driver.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %>:</strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @driver do |f| %>
  <%= f.label "Name:"%>
  <%= f.text_field :name %>
  <br>
  <%= f.label "VIN:" %>
  <%= f.text_field :vin %>
  <br>
  <%# <%= f.label "Car Make:" %>
  <%# <%= f.text_field :car_make %> 
  <br>
  <%# <%= f.label "Car Model:" %> 
  <%# <%= f.text_field :car_model %> 
  <br>
  <%= f.submit "Create New Driver"%>
<% end %>
<br>
<%= link_to "Back to Driver List", drivers_path%>
</div>