
<%=form_with model: @driver do |driver|%>
  <p>Please provide the following information to add a new driver.</p>

  <%= driver.label :name%>
  <%= driver.text_field :name%>
  <%= driver.label :vin%>
  <%= driver.text_field :vin%>

  <%= driver.submit "Create"%>
<%end%>