<section>
  <%# name %>
  <h2><%= @driver.name %></h2>

  <%# average rating %>
  <div>Average Rating: <%= @driver.average_rating.nil? ? "N/A" : @driver.average_rating %></div>

  <%# car details %>
  <div class="car details">
    <%# vin %>
    <div>Vin: <%= @driver.vin %></div>
    <%# car make %>
    <%# car model %>
  </div>

  <%# total earnings %>
  <div>Total Earnings: <%= number_to_currency(@driver.driver_earnings / 100.0) %></div>

  <%# edit/delete options %>
  <div class="modify-options">
    <div><%= link_to "Edit", edit_driver_path(@driver.id) %></div>
    <div><%= link_to "Delete", driver_path(@driver.id), method: :delete %></div>
  </div>

  <%# trips list %>
  <section>
    <h3>Trips</h3>
    <%# how many rides the driver has given %>
    <div>Total Trips: <%= @driver.trips.count %></div>
    <table>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Driver</th>
        <th>Passenger</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>
        <% @driver.trips.each do |trip| %>
          <tr>
            <td>
              <%= link_to trip.id, trip_path(trip.id)%>
            </td>
            <td>
              <%= trip.date %>
            </td>
            <td>
              <%= trip.driver.name %>
            </td>
            <td>
              <%= trip.passenger.name %>
            </td>
            <td>
              <%= number_to_currency(trip.cost / 100.0) %>
            </td>
            <td>
              <%= trip.rating %>
            </td>
          </tr>
        <% end %>
    </table>
  </section>

</section>
