<ul>
  <li>Name: <%= @driver.name %></li>
  <li>VIN: <%= @driver.vin %></li>
  <li>Active: <%= @driver.active %></li>
  <li>Car Make: <%= @driver.car_make %></li>
  <li>Car Model: <%= @driver.car_model %></li>
  <li>Total Earning: </li>
  <li>Average Rating: </li>
  <li><%= link_to "Edit", edit_driver_path( @driver.id ) %></li>
  <li><%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure? It will be gone forever."} %></li>

</ul>

<table>
  <tr>
    <th>Trip ID</th>
    <th>Date</th>
    <th>Passenger</th>
    <th>Rating</th>
    <th>Cost</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

   <% @driver.trips.each do |trip| %>
  <tr>
    <td><%= trip.id %></td>
    <td><%= trip.date %></td>
    <td><%= trip.passenger %></td>
    <td><%= trip.rating %></td>
    <td><%= trip.cost %></td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
  <% end %>
</table>