<h2> Details for Driver: <%= @driver.name %> </h2>
<ul>
  <li> Total earnings: $<%= sprintf "%.2f",@driver.total_earnings %> </li>
  <li> Average rating: <%= sprintf "%.2f",@driver.avg_rating %></li>
  <li> Driver's trips:

<ul>
    <% @driver.trips.each do |trip| %>
    <li> <%= link_to trip.id, trip_path(trip), class:"link" %> </li>
    <% end %>
</ul>
</li>
  <li> <% if @driver.active == false %>
     Driver status: ACTIVE. (Driver is unavailable.)
     <% elsif @driver.active == true %>
     Driver status: INACTIVE. (Driver is available.)
     <% end %>
     </li>
</ul>

<%= button_to "Edit Driver", edit_driver_path(@driver), class:"link" %>
<br><br>
<%= button_to "Delete Driver", driver_path(@driver), class:"link", method: :delete, data: {confirm: "Please confirm!"} %>
<br><br>
<%= button_to 'Change Active Status', toggle_active_path(@driver), method: :put, data: {confirm: "Are you sure?"} %>
<br><br>
<%= link_to "See All Drivers", drivers_path, class:"link" %>