<header class="show-header">
  <h1><%=@driver.name%></h1>
</header>

<section class="details">
  <h3>Details</h3>
  <p>Average Rating: <%= @driver.average_rating %></p>
  <p>Earnings: 
    <% if @driver.total_earned %>
      <%= usd(@driver.total_earned) %>
    <% else %>
      <%= usd(0.00) %>
    <% end %>
  </p>
</section>

<section class="driver_grid_show">
  <section class="header_row"><%= "ID" %></section>
  <section class="header_row"><%= "NAME" %></section>
  <section class="header_row"><%= "VIN" %></section>
  <section class="header_row"><%= "ACTIVE STATUS" %></section>
  <section class="header_row"><%= "SWITCH STATUS" %></section>
  <section class="header_row"><%= "EDIT" %></section>
  <section class="header_row"><%= "DELETE" %></section>

  <section><%= @driver.id%></section>
  <section><%= @driver.name%></section>
  <section><%= @driver.vin%></section>
  <section><%= @driver.active%></section>

  <%= link_to (@driver.active ? "GO OFFLINE" : "GO ONLINE"), driver_active_path(@driver.id), method: :patch %>
  <%= link_to "EDIT", edit_driver_path(@driver.id), method: :get %>
  <%= link_to "DELETE", driver_path(@driver.id), method: :delete, data: {confirm: "YOU SURE???"}  %>
</section>

<%= link_to "SHOW TRIP HISTORY", trips_path(driver_id: @driver.id) %><br>
<%= link_to "GO BACK", drivers_path, class:"go_back"%>