<header class="show-header">

<h1><%=@driver.name%></h1>

<ul>
  <li><strong>VIN:</strong><%=@driver.vin%>
  <li><strong>total earnings:</strong></li>
  <li><strong>average rating:</strong></li>

  <li> <%= link_to "Edit driver!", edit_driver_path(@driver.id)%></li>
  <li> <%= link_to "Delete driver!", driver_path(@driver.id), method: :delete, data: {confirm: "are you sure???"}, class: "driver-delete-link" %></li>
  <li> <%= link_to "Add a new trip for this driver", new_trip_path %></li>

    <li> 
    <%=@driver.name%>'s trips
      <ul>
        <% Trip.where(driver_id:@driver.id).each do |trip| %> 
        <li><%= link_to trip.id, trip_path(trip.id)%></li>
        <%end%>
      </ul>
  </li>
</ul>
</header>