<header class="show-header">
  <h1><%=@driver.name%></h1>
</header>

<section class="show-details">
  <h2><%=@driver.vin%></h2>
  <section class="button">
    <%= link_to "Edit", edit_driver_path(@driver.id) %>
    <%= link_to "Delete", driver_path(@driver.id), method: :delete, data: { confirm: "Are you sure you want to delete this driver?" }, class: "index-delete-link" %>
  </section>

  <section>
    <% if @driver.trips.empty? %>
      <h3>Driver has 0 trips</h3>
    <% else %>
      <h3>Driver Trips: </h3>
      <h4>Passenger(s)</h4>
      <ul>
        <% @driver.trips.each do |trip| %>
          <li><%= link_to trip.passenger.name, trip_path(trip.id) %></li>
        <% end %>
      </ul>
    <% end %>
  </section>

</section>
