<h1>Driver's Trips</h1>

<p>Name: <%= @driver.name%></p>

<p>Average Rating: <%=@driver.average_rating%></p>
<p>Total Earnings: $<%=@driver.total_earnings%></p>

<h2>Trips</h2>

<%@driver.trips.each do |trip|%>
<%= link_to "Trip Details", trip_path(trip)%>
<p>Trip_id: <%=trip.id%>
<p>Date: <%=trip.date%></p>
<p>Driver_id: <%=trip.driver_id%></p>
<p>Passenger: <%=trip.passenger_id%></p>
<p>Cost: <%=trip.cost%></p>
<p>Rating: <%=trip.rating%></p>
<br>
<%end%>
</p>