<header class="show-header">
  <h1><%=@driver.name%>   Id #<%=@driver.id%></h1>
</header>

<section class="show-details">
  <h2>Vin #<%=@driver.vin%></h2>
  <section class="button">
    <%= link_to "Edit", edit_driver_path(@driver.id) %>
    <%= link_to "Delete", driver_path(@driver.id), method: :delete, data: { confirm: "Are you sure you want to delete this driver?" }, class: "index-delete-link" %>
  </section>

  <section>
    <% if @driver.trips.empty? %>
      <h3>Driver has 0 trips</h3>
    <% else %>
      <h3>Driver Trips: </h3>
      <ul>
        <li><h4>Date</h4></li>
        <li><h4>Passenger</h4></li>
        <li><h4>Cost</h4></li>
        <li><h4>Rating</h4></li>
      </ul>
      <ul>
        <% @driver.trips.each do |trip| %>
          <li><%=link_to trip.date, trip_path(trip.id)%></li>
          <li><%=link_to trip.passenger.name, passenger_path(trip.passenger.id)%></li>
          <li><%=trip.cost%></li>
          <li><%=trip.rating%></li>
        <% end %>
      </ul>
    <% end %>
  </section>

</section>
