<h2>Driver</h2>

<%= link_to "Back to Homepage", root_path %>
<br>
<%= link_to "Back to list of drivers", drivers_path %>


<p>Name: <%= @driver.name %></p>
<p>VIN: <%= @driver.vin %></p>
<p>ID: <%= @driver.id %></p>