<header class="show-header">

<h1><%=@driver.name%></h1>
</header>
<ul>
  <li><strong>VIN:</strong><%=@driver.vin%>
  <li><strong>total earnings:  $</strong><%= @driver.total_earnings %></li>
  <li><strong>average rating:  </strong></li>

  <li> <%= link_to "Edit driver!", edit_driver_path(@driver.id)%></li>
  <li> <%= link_to "Delete driver!", driver_path(@driver.id), method: :delete, data: {confirm: "are you sure???"}, class: "driver-delete-link" %></li>
</ul>

<h2><%=@driver.name%>'s trips:</h2>
<table style="width100%">
  <tr>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
  </tr>
  <% Trip.where(driver_id:@driver.id).each do |trip| %> 
  <tr>
      <td><%= link_to trip.date, trip_path(trip.id)%></td>
      <td><%= trip.rating %>
      <td><%= trip.cost %>
  </tr>
  <%end%>
</table>

