<section>
  <%# name %>
  <h2><%= @driver.name %></h2>

  <%# average rating %>
  <div>Average Rating: <%= @driver.average_rating.nil? ? "N/A" : @driver.average_rating %></div>

  <%# car details %>
  <div class="car details">
    <%# vin %>
    <div>Vin: <%= @driver.vin %></div>
    <%# car make %>
    <%# car model %>
  </div>

  <%# driver status %>
  <div>
    <% if @driver.active %>
      Active
    <% else %>
      Inactive
    <% end %>
  </div>

  <div>
    <%= link_to "Toggle Status", toggle_active_path(@driver.id), method: :patch %>
  </div>

  <%# total earnings %>
  <div>Total Earnings: <%= number_to_currency(@driver.driver_earnings / 100.0) %></div>

  <%# edit/delete options %>
  <div class="modify-options">
    <div><%= link_to "Edit", edit_driver_path(@driver.id) %></div>
    <div><%= link_to "Delete", driver_path(@driver.id), method: :delete %></div>
  </div>

  <%# trips list %>
  <%= render partial: "shared/triptable", locals: { object: @driver} %>

</section>
