<h2> Details for Driver: <%= @driver.name %> </h2>

<p>Driver ID: <%= @driver.id %></p>
<p>Name: <%= @driver.name %></p>
<p>VIN: <%= @driver.vin %></p>
<% if @driver.active == true %>
  <p>Driver status: ACTIVE. (Driver is unavailable.)</p>
<% else %>
  <p>Driver status: INACTIVE. (Driver is available.)</p>
<% end %>
<p>Car Make: <%= @driver.car_make %></p>
<p>Car Model: <%= @driver.car_model %></p>
<p>Total Earnings: $<%= sprintf "%.2f",@driver.total_earnings %></p>
<p>Average Rating: <%= sprintf "%.2f",@driver.total_earnings %></p>




<h2> Details for Driver: <%= @driver.name %> </h2>
<ul>
  <li> Total earnings: $<%= sprintf "%.2f",@driver.total_earnings %> </li>
  <li> Average rating: <%= sprintf "%.2f",@driver.total_earnings %></li>
  <li> Driver's trips:

<ul>
    <% @driver.trips.each do |trip| %>
    <li> <%= link_to trip.id, trip_path(trip), class:"link" %> </li>
    <% end %>
</ul>
</li>
  <li> <% if @driver.active == true %>
     Driver status: ACTIVE. (Driver is unavailable.)
     <% elsif @driver.active == false %>
     Driver status: INACTIVE. (Driver is available.)
     <% end %>
     </li>
</ul>

<%= button_to "Edit Driver", edit_driver_path(@driver), class:"link", method: :get %>
<br><br>
<%= button_to "Delete Driver", driver_path(@driver), class:"link", method: :delete, data: {confirm: "Please confirm!"} %>
<br><br>
<%= button_to 'Change Active Status', toggle_active_path(@driver), method: :put  %>
<br><br>
<%= button_to "See All Drivers", drivers_path, class:"link", method: :get %>
