<header class="show-header">
  <h1><%=@driver.name%>   Id #<%=@driver.id%></h1>
  <%if @driver.active%>
    <h2>Unavailable</h2>
  <%else%>
    <h2>Available</h2>
  <%end%>
</header>

<section class="show-details">
  <h2>Vin #<%=@driver.vin%></h2>
  <h3>Average Rating:  <%=@driver.average_rating%></h3>
  <h3>Total Earnings:  $<%='%.2f' % @driver.total_earnings%></h3>
  <h3>Total Trips Given:  <%=@driver.trips.count%></h3>
  <section class="button">
    <%= link_to "Edit", edit_driver_path(@driver.id) %>
    <%= link_to "Delete", driver_path(@driver.id), method: :delete, data: { confirm: "Are you sure you want to delete this driver?" }, class: "index-delete-link" %>
  </section>
  <% if @driver.active %>
    <h3><%=link_to "Toggle Active", make_inactive_path(@driver.id), method: :patch%></h3>
  <% else %>
    <h3><%=link_to "Toggle Active", make_active_path(@driver.id), method: :patch%></h3>
  <% end %>
  <section>
    <% if @driver.trips.empty? %>
      <h3>Driver has 0 trips</h3>
    <% else %>
      <h3>Driver Trips: </h3>
      <ul>
        <li><h4>Date</h4></li>
        <li><h4>Passenger</h4></li>
        <li><h4>Cost</h4></li>
        <li><h4>Rating</h4></li>
      </ul>
      <ul>
        <% @driver.trips.each do |trip| %>
          <li><%=link_to trip.date, trip_path(trip.id)%></li>
          <li><%=link_to trip.passenger.name, passenger_path(trip.passenger.id)%></li>
          <% trip_cost = trip.cost / 100 %>
          <li><%= '%.2f' % trip_cost %></li>
          <li><%=trip.rating%></li>
        <% end %>
      </ul>
    <% end %>
  </section>

</section>
