<h1>Driver's Trips</h1>

<p>Name: <%= @driver.name%></p>

<p>Average Rating: <%=@driver.average_rating%></p>
<p>Total Earnings: $<%=@driver.total_earnings%></p>

<h2>Trips</h2>

<%@driver.trips.each do |trip|%>
<p>Trip_id: <%=trip.id%>  (<%= link_to "Details", trip_path(trip)%>)</p>
<br>
<%end%>
</p>