<header class="show-header">
  <h1><%=@driver.name%></h1>
  <% status = @driver.active ? " active" : " inactive" %>
  <% label = (@driver.active) ? "Set inactive" : "Set active" %> 
  <p> <%=@driver.name%> is now <%=status%> |
    <%= link_to(label, toggle_active_path(@driver.id), method: :patch, class: "toggle-action-link") %> 
  </p>
  <p> <%= link_to "Edit this driver!", edit_driver_path(@driver.id) %></p>
  <p><%= link_to "(Delete this driver!)", driver_path(@driver.id), method: :delete, data: { confirm: "Are YOU sure?" }, class: "index-delete-link" %></p>

</header>

<section class="show-details">

  <p>
    VIN number: <%=@driver.vin%>

    <% if @driver.car_make %>
        -- Car make: <%= @driver.car_make %>
    <% end %>

    <% if @driver.car_model %>
        -- Car model: <%= @driver.car_model %>
    <% end %>
    
    -- Average rating: <%=@driver.average_rating%>
    -- Total earnings: $<%=@driver.total_earnings%>
  </p>


  <p>List of trips</p>
  <table>                         
    <tr>                          
      <th>Trip ID</th>
      <th>Trip Date</th>
      <th>Trip Cost</th>
      <th>Rating</th>
    </tr>

    <%@driver.trips.each do |trip|%>
      <tr>
        <td><%= link_to trip.id, trip_path(trip.id) %></td>
        <td><%= trip.date %></td>
        <td>$<%= sprintf('%.2f', trip.cost_to_dollars) %></td>
        <td><%= trip.rating %></td>
      </tr>
    <% end %>                    
  </table> 

</section>