<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="nav-links">
        <li class="home-link">
          <%= link_to "Rideshare Rails!", root_path %>
        </li>
        <li class="drivers-link">
          <%= link_to "Drivers", drivers_path %>
        </li>
        <li class="add-driver">
          <%= link_to "Add Drivers", new_driver_path %>
        </li>
        <li class="passengers-link">
          <%= link_to "Passengers", passengers_path %>
        </li>
        <li class="add-passenger">
          <%= link_to "Add Passengers", new_passenger_path %>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
