<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Rideshare Rails!', root_path %>
      <%= link_to 'Drivers', drivers_path %>
      <%= link_to 'Passengers', passengers_path %>
      <%= link_to 'New Driver', new_driver_path %>
      <%= link_to 'New Passenger', new_passenger_path %>
    </nav>
    <%= yield %>
    <footer>
      <p>©2019 Michaela & Emily Inc.</p>
    </footer>
  </body>
</html>
