<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="nav">
    NAV BAR HERE!!!!
    <%= link_to "HOME", root_path %>
    </section>
    <%= yield %>


    <footer>
    <br><hr>
    SUPER COOL FOOTER HERE
    </footer>
  </body>
</html>
