<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <nav>
  <section class="dropdown">
    <%= button_to "Passengers", passengers_path, :method => "get" %>
      <section class="dropdown-content">
        <%= button_to "Add Passenger", new_passenger_path, :method => "get" %>
      </section>
  </section>

  <section class="dropdown">
  <%= button_to "Drivers", drivers_path, :method => "get" %>
    <section class="dropdown-content">
      <%= button_to "Add Driver", new_driver_path, :method => "get" %>
    </section>
  </section>

    <section class="dropdown">
    <%= button_to "Trip", trips_path, :method => "get" %>
      <section class="dropdown-content">
        <%= button_to "Add Trip", new_trip_path, :method => "get" %>
      </section>
  </section>

  
  </nav>
    <%= yield %>
  </body>
</html>
