<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <%= link_to "Rideshare Rails!", root_path %>
        </li>
        <li>
          <%= link_to "Driver Index Page", drivers_path %>
        </li>
        <li>
          <%= link_to "Passenger Index Page", passengers_path %>
        </li>
        <li>
          <%= link_to "Add a Driver", new_driver_path %>
        </li>
        <li>
          <%= link_to "Add a Passenger", new_passenger_path %>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
