<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Drivers</button>
            <div class="dropdown-content">
              <a href="http://localhost:3000/drivers">Drivers List</a>
              <a href="#">New Driver</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Passengers</button>
            <div class="dropdown-content">
              <a href="http://localhost:3000/passengers">Passengers List</a>
              <a href="#">New Passenger</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Trips</button>
            <div class="dropdown-content">
              <a href="http://localhost:3000/trips">Trips List</a>
              <a href="#">New Trip</a>
            </div>
          </div>
        <li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
